:root {
    --color-midnight-600: 23 134 249;
    --color-slate-200: 226 232 240;
    --color-slate-400: 148 163 184;
    --color-midnight-100: 217 241 255;
}

* {
    margin: 0;
    padding: 0;
}

html {
    --color-primary: var(--color-midnight-600);
    --color-text-primary: var(--color-slate-200);
    --color-layer-2: var(--color-slate-400);
    --color-layer-1: var(--color-midnight-100);
    --background-dif: #EF652A;
}

body {
    background-color: #17202A;
    background-image: url(https://monoald.github.io/_astro/noisy.2053babc.webp);
}

li {
    text-indent: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.glow[data-astro-cid-j7pv25f6] {
    position: absolute;
    top: 15em;
    right: 0;
    width: 25em;
    max-width: 100%;
    height: 20em;
    border-radius: 30% 0 0 30%;
    display: block;
    background: radial-gradient(#025c8f 20%,#d886c455 100%);
    filter: blur(100px);
    z-index: -1;
}

.glow[data-astro-cid-j7pv25f5] {
    position: absolute;
    top: 45em;
    left: 0%;
    width: 40em;
    max-width: 100%;
    height: 30em;
    border-radius: 30%;
    display: block;
    background: radial-gradient(#025c8f 20%,#d886c455 100%);
    transform: translate(-50%);
    will-change: transform;
    filter: blur(100px);
    z-index: -1;
}

.glow[data-astro-cid-j7pv25f4] {
    position: absolute;
    top: 123em;
    right: 0;
    width: 12em;
    max-width: 100%;
    height: 18em;
    border-radius: 50% 0 0 50%;
    display: block;
    background: radial-gradient(#ff6900 20%,#d886c455 100%);
    filter: blur(100px);
    z-index: -1;
}

.glow[data-astro-cid-j7pv25f3] {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    max-width: 100%;
    height: 8em;
    border-radius: 30%;
    display: block;
    background: radial-gradient(#eaeff4 20%, rgba(216, 134, 196, 0.333) 100%);
    /* transform: translate(50%, -85%); */
    /* will-change: transform; */
    filter: blur(100px);
    z-index: -1;
}

.glow[data-astro-cid-j7pv25f2] {
    position: absolute;
    bottom: -85px;
    width: 100%;
    max-width: 100%;
    height: 11em;
    border-radius: 50%;
    display: block;
    background: radial-gradient(#ff6900 20%,#d886c455 100%);
    filter: blur(100px);
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

header .h-1 {
    background-color: #212f3cb3;
    width: 650px;
    margin: 1em;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(5px);
}


header .h-1 .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
}

header .h-1 .navbar li a {
    color: #eaeff4;
    font-weight: 500;
    font-size: 1.25rem;
}

header .h-1 .navbar li a:hover {
    color: #f5f8fa;
}

header .h-1 .navbar li a.active {
    position: relative;
}

header .h-1 .navbar li a.active::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Ajusta la posición de la línea */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #416a88; /* Color de la línea */
}

header .h-1 .icons {
    display: none;
}

header .h-1 .icons #menu-btn {
    display: none;
    color: #eaeff4;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar-mobile {
    display: none;
    z-index: 2;
    padding: 5px 0px 5px 0px;
}

.navbar-mobile li {
    padding: 5px 0px 5px 0px;
}

.navbar-mobile li a {
    margin: 0 1rem;
    color: #eaeff4;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* BOTON DARK - LIGHT */
.btn-h {
    display: none;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    border: none;
}

.svg-2 {
    width: 2.75rem;
    height: 2.75rem;
    overflow: visible;
    filter: drop-shadow(rgba(14, 165, 233, 0.75) 0px 0px 20px) drop-shadow(rgba(14, 165, 233, 0.5) 0px 0px 30px);
}

path {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.svg-2:hover .moon-2 {
    transform: translateY(24px)
}

.svg-2:hover .sun-2 {
    transform: translateY(-24px)
}

.svg-2:hover .divider-2 {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.svg-2 :is(.moon-2, .sun-2, .divider-2) {
    transition: transform 175ms ease-in-out;
    transform: translate(0) rotate(0);
    transform-origin: 50% 50%;
}

/* MAIN */
main {
    width: 100%;
    position: absolute;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

main .w-1{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    min-height: 90vh;
}

main .w-1 .text-p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(var(--color-primary));
    text-align: center;
}

main .w-1 .text-h1{
    font-size: 3.75rem;
    line-height: 1;
    color: rgb(var(--color-text-primary));
    text-align: center;
}

main .w-1 .text-h2{
    font-size: 3.75rem;
    line-height: 1;
    text-align: center;
}

.text-transparent {
    color: transparent;
}

main .w-1 .text-h2 .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

main .w-1 .text-h2 .bg-text-gradient {
    background-image: linear-gradient(90deg,#025c8f 10%,#0ea5e9 85%);
}

main .w-1 .text-p2{
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #F4F6F7;
    margin-top: 1em;
    padding-inline: 2.5em;
    text-wrap: balance;
    text-align: center;
}

/* SOCIAL MEDIA */
.font-geist{
    font-family: Geist, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.font-geist-mono {
    font-family: Geist Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.font-bold {
    font-weight: 700;
}

*:after, *:before {
    transition: .7s ease;
}

.social-links {
    display: flex;
}

.social-links li {
    padding: 0px 10px 0 10px;
}

.social-links a{
    position: relative;
    display: block;
    text-decoration: none;
    color: #025c8f;
}

.social-links a::before {
    box-shadow: 0 0 #fff6;
    content: "";
    position: absolute;
    top: 48%;
    left: 48%;
    z-index: -1;
}

.social-links a:hover:before{
    box-shadow: 0 0 40px 20px #fff6;
}

/* SKILLS */
main .w-2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    min-height: 90vh;
}

.skills ul li {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.skills h2 {
    font-size: 2.75rem;
    line-height: 1;
    color: rgb(var(--color-text-primary));
    text-align: center;
}

[class^=icon-],[class*=" icon-"] {
    width: 40px;
    height: 32px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.icon-HTML {
    background-image: url(https://monoald.github.io/_astro/html5.8c4d7786.svg)
}

.icon-CSS {
    background-image: url(https://monoald.github.io/_astro/css.a3b2b938.svg)
}

.icon-JavaScript {
    background-image: url(https://monoald.github.io/_astro/javascript.35328c60.svg)
}

.icon-NodeJS {
    background-image: url(https://monoald.github.io/_astro/nodejs.f9b4964c.svg)
}

.icon-Git {
    background-image: url(https://monoald.github.io/_astro/git.cc43d5b0.svg)
}

.icon-Linux {
    background-image: url(https://monoald.github.io/_astro/linux.dbf30757.png)
}

.icon-VS {
    background-image: url(https://monoald.github.io/_astro/vscode.1e8d2e84.svg)
}

.icon-VSW {
    background-image: url(./../img/vsw-original.png);
}

.icon-Java {
    background-image: url(./../img/java-original.svg);
}

.icon-Sql {
    background-image: url(./../img/sql-original.svg);
}

.icon-C{
    background-image: url(./../img/c-original.svg);
}

.icon-C2{
    background-image: url(./../img/c2-original.svg);
}

.icon-Net{
    background-image: url(./../img/net-original.svg);
}

.icon-Pascal{
    background-image: url(./../img/pascal-original.svg);
}

.icon-Flutter{
    background-image: url(./../img/flutter-original.svg);
}

.icon-Dart{
    background-image: url(./../img/dart-original.svg);
}

.icon-AS {
    background-image: url(./../img/as-original.png);
}

.icon-Angular {
    background-image: url(./../img/angular-original.svg);
}

.icon-TypeScript {
    background-image: url(./../img/typescript-original.svg);
}

.icon-Astro {
    background-image: url(./../img/astro-original.svg);
}

.skills[data-astro-cid-j7pv25f6] ul[data-astro-cid-j7pv25f6] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    list-style: none
}

.stack[data-astro-cid-j7pv25f6] {
    position: relative;
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none
}

.stack[data-astro-cid-j7pv25f6]:hover:before,.stack[data-astro-cid-j7pv25f6]:focus-visible:before,.stack[data-astro-cid-j7pv25f6]:active:before {
    border-color: var(--background-dif);
    backdrop-filter: blur(14px)
}

.stack[data-astro-cid-j7pv25f6]:hover:after,.stack[data-astro-cid-j7pv25f6]:focus-visible:after,.stack[data-astro-cid-j7pv25f6]:active:after {
    box-shadow: 0 0 35px 20px var(--background-dif)
}

.stack[data-astro-cid-j7pv25f6]:after {
    content: "";
    position: absolute;
    width: 15px;
    border-radius: 50%;
    box-shadow: 0 0 35px 12px var(--background-dif);
    z-index: -2
}

.stack[data-astro-cid-j7pv25f6]:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 1em;
    backdrop-filter: blur(30px);
    z-index: -1
}

.stack__name[data-astro-cid-j7pv25f6] {
    font-size: 0px;
}

tool-tip {
    --_p-inline: 1.5em;
    --_p-block: .4em;
    --_triangle-size: 7px;
    --_shadow-alpha: 50%;
    --_x: calc(var(--isRTL) * -3px * -1);
    --_bottom-tip: conic-gradient( from -30deg at bottom, rgba(0, 0, 0, 0), #000 1deg 60deg, rgba(0, 0, 0, 0) 61deg ) bottom / 100% 50% no-repeat;
    --_top-tip: conic-gradient( from 150deg at top, rgba(0, 0, 0, 0), #000 1deg 60deg, rgba(0, 0, 0, 0) 61deg ) top / 100% 50% no-repeat;
    --_right-tip: conic-gradient( from -120deg at right, rgba(0, 0, 0, 0), #000 1deg 60deg, rgba(0, 0, 0, 0) 61deg ) right / 50% 100% no-repeat;
    --_left-tip: conic-gradient( from 60deg at left, rgba(0, 0, 0, 0), #000 1deg 60deg, rgba(0, 0, 0, 0) 61deg ) left / 50% 100% no-repeat;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transform: translate(var(--_x, 0)) translateY(var(--_y, 0));
    transition: opacity .2s ease,transform .2s ease;
    position: absolute;
    z-index: 2;
    inline-size: max-content;
    max-inline-size: 25ch;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: normal;
    line-height: initial;
    padding: var(--_p-block) var(--_p-inline);
    margin: 0;
    border-radius: 12px;
    border: 1px solid var(--background-dif);
    background: transparent;
    color: var(--background-dif);
    will-change: filter;
    filter: drop-shadow(0 3px 3px hsl(0 0% 0% / var(--_shadow-alpha))) drop-shadow(0 12px 12px hsl(0 0% 0% / var(--_shadow-alpha)));
    backdrop-filter: blur(10px)
}

[tool-tip] {
    position: relative
}

[tool-tip]:is(:hover,:focus-visible,:active)>tool-tip {
    opacity: 1;
    transition-delay: .2s
}

tool-tip:before {
    content: "; Has tooltip: ";
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute
}

tool-tip:after {
    content: "";
    background: transparent;
    position: absolute;
    z-index: -1;
    inset: 0;
    mask: var(--_tip)
}

tool-tip:is([tip-position=top],[tip-position=block-start],:not([tip-position]),[tip-position=bottom],[tip-position=block-end]) {
    text-align: center
}

tool-tip:is([tip-position=top],[tip-position=block-start],:not([tip-position])) {
    inset-inline-start: 50%;
    inset-block-end: calc(100% + var(--_p-block) + var(--_triangle-size));
    --_x: calc(50% * var(--isRTL))
}

tool-tip:is([tip-position=top],[tip-position=block-start],:not([tip-position])):after {
    --_tip: var(--_bottom-tip);
    border-block-end:var(--_triangle-size) solid transparent
}

tool-tip:is([tip-position=right],[tip-position=inline-end]) {
    inset-inline-start:calc(100% + var(--_p-inline) + var(--_triangle-size));
    inset-block-end: 50%;
    --_y: 50%
}

tool-tip:is([tip-position=right],[tip-position=inline-end]):after {
    --_tip: var(--_left-tip);
    inset-inline-start: calc(var(--_triangle-size) * -1);
    border-inline-start:var(--_triangle-size) solid transparent
}

tool-tip:is([tip-position=right],[tip-position=inline-end]):dir(rtl):after {
    --_tip: var(--_right-tip)
}

tool-tip:is([tip-position=bottom],[tip-position=block-end]) {
    inset-inline-start: 50%;
    inset-block-start: calc(100% + var(--_p-block) + var(--_triangle-size));
    --_x: calc(50% * var(--isRTL))
}

tool-tip:is([tip-position=bottom],[tip-position=block-end]):after {
    --_tip: var(--_top-tip);
    inset-block-start: calc(var(--_triangle-size) * -1);
    border-block-start:var(--_triangle-size) solid transparent
}

tool-tip:is([tip-position=left],[tip-position=inline-start]) {
    inset-inline-end:calc(100% + var(--_p-inline) + var(--_triangle-size));
    inset-block-end: 50%;
    --_y: 50%
}

tool-tip:is([tip-position=left],[tip-position=inline-start]):after {
    --_tip: var(--_right-tip);
    inset-inline-end: calc(var(--_triangle-size) * -1);
    border-inline-end:var(--_triangle-size) solid transparent
}

tool-tip:is([tip-position=left],[tip-position=inline-start]):dir(rtl):after {
    --_tip: var(--_left-tip)
}

tool-tip {
    --isRTL: -1
}

tool-tip:dir(rtl) {
    --isRTL: 1
}

tool-tip[tip-position=top] {
    --_x: calc(50% * var(--isRTL))
}

tool-tip[tip-position=right]:after {
    --_tip: var(--_left-tip)
}

tool-tip[tip-position=right]:dir(rtl):after {
    --_tip: var(--_right-tip)
}

@media (prefers-reduced-motion: no-preference) {
    :has(>tool-tip:is([tip-position=top],[tip-position=block-start],:not([tip-position]))):not(:hover):not(:focus-visible):not(:active) tool-tip {
        --_y: 3px
    }

    :has(>tool-tip:is([tip-position=right],[tip-position=inline-end])):not(:hover):not(:focus-visible):not(:active) tool-tip {
        --_x: -3px
    }

    :has(>tool-tip:is([tip-position=bottom],[tip-position=block-end])):not(:hover):not(:focus-visible):not(:active) tool-tip {
        --_y: -3px
    }

    :has(>tool-tip:is([tip-position=left],[tip-position=inline-start])):not(:hover):not(:focus-visible):not(:active) tool-tip {
        --_x: 3px
    }
}

/* SOBRE MI */
main .w-3 {
    position: relative;
    padding-top: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    min-height: 90vh;
}

.about-2 h2{
    font-size: 2.75rem;
    line-height: 1;
    color: rgb(var(--color-text-primary));
    text-align: center;
}

.about-1 {
    display: flex;
}

.about-1 .about-text {
    padding: 2em;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 1em;
    background: rgba(255,255,255,.05);
}

.about-1 .about-text p {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(244, 246, 247);
}

.about-1 .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-1 div img {
    width: 200px;
    height: 200px;
}

/* CERTIFICACIONES */
.certification .c-1 h2{
    font-size: 2.75rem;
    line-height: 1;
    color: rgb(var(--color-text-primary));
    text-align: center;
}

.certification .c-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    gap: 15px;
}

.certification .c-2 .c-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #dbe0e409;
    border: 0.5px solid #373839;
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.certification .c-2 .c-info h3 {
    margin: 10px 0;
    color: #F4F6F7;
}

.certification .c-2 .c-info a {
    text-decoration: none;
}

.certification .c-2 .c-info a p {
    opacity: .7;
    color: #F4F6F7;
    margin: 0 0 10px;
    font-size: 15px;
}

.certification .c-2 .c-info a p:hover {
    opacity: 1;
}

.certification .c-2 .c-info a p .svg {
    width: 13px;
    margin-left: 5px;
}

@media screen and (width <= 1340px) {
    .about-1 {
        flex-direction: column;
    }
}

@media screen and (width <=689px) {
    header .h-1 {
        border: none;
        background: none;
        backdrop-filter: none;
    }
    
    header .h-1 .navbar {
        display: none;
    }

    header .h-1 .icons {
        display: block;
        position: relative;
        padding: 1em;
        right: -45%;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 2em;
    }

    header .h-1 .icons #menu-btn {
        display: block;
        cursor: pointer;
    }

    .navbar-mobile {
        display: none;
        font-weight: 500;
        padding: 1em;
        right: 25px;
        background-color: rgba(33, 47, 60,0.7);
        backdrop-filter: blur(10px);
        border-radius: 2em;
    }

    .navbar-mobile ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .navbar-mobile ul li {
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 2em;
        padding: 0.5em;
        height: 2em;
        align-content: center; 
        cursor: pointer;
    }

    .navbar-mobile ul li.active {
        background-color: rgba(65, 106, 136, 0.8); /* Cambia el color según tu diseño */
        border-color: rgba(255, 255, 255, 0.5); /* Opcional: Cambiar el borde */
    }

    .navbar-mobile.active {
        display: block;
        position: fixed;
        top: 90px;
    }

    main .w-1 {
        width: 100%;
    }

    main .w-2 {
        width: 100%;
    }

    main .w-3{
        width: 90%;
    }

    .glow[data-astro-cid-j7pv25f6] {
        width: 10em;
        height: 15em;
        transform: translate(-76%);
    }

    .glow[data-astro-cid-j7pv25f4] {
        width: 10em;
        height: 15em;
        transform: translate(-100%)
    }

}